<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mybatis sql映射文件 -->
<!-- namespace：整合到spring之后，要求它的值必须与dao接口的全路径名一致 -->
<mapper namespace="com.dao.DeptDao">
    <!-- 方法名与id对应 -->
    <!-- 注意：sql后不能带分号 -->
    <!--
        1) id属性：方法名与id对应,
        2) resultType：配置结果类型(包名加类名，如果是基本数据类型就直接填基本数据类型)，
                 注意：列名要与属性名对应
    -->
    <resultMap id="deptMap" type="com.po.Dept">
        <id property="did" column="did"/>
        <result property="name" column="name"/>
        <result property="addres" column="addres"/>
        <collection property="emps" column="did" select="com.dao.EmpDao.findBydeptno"/>
    </resultMap>
<select id="findById" resultMap="deptMap" parameterType="int">
    select * from dept where did=#{did}
</select>




</mapper>